 @{
    ViewData["Title"] = "Página principal";
}
<h2>@ViewData["Title"]. :) :)</h2>
<br /><br />
<h3>@ViewData["Message"]</h3>
<br />
<h3>@ViewData["SistemaOperativo"]</h3>
<h3>@ViewData["IdContenedor"]</h3>
<h3>@ViewData["Location"]</h3>
